body{
    margin:0;
    background:#1e1f22;
    color:white;
    font-family:Arial;
}

.main{
    text-align:center;
    margin-top:150px;
}

h1{
    font-size:60px;
    color:#5865F2;
}

p{
    font-size:20px;
}

button{
    background:#5865F2;
    color:white;
    border:none;
    padding:15px 35px;
    border-radius:10px;
    font-size:20px;
    cursor:pointer;
}

button:hover{
    opacity:0.8;
}
